<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.firebase.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>Dummy</key>
	<string>NOTE: Expand the URL types below and configure FacebookURL with &quot;&lt;YOUR FACEBOOK APP ID&gt;&quot; and/or GoogleURL with &quot;&lt;YOUR GOOGLE REVERSE CLIENT ID&gt;&quot;</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.firebase.$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.firebase.$(PRODUCT_NAME:rfc1034identifier)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FacebookURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb&lt;YOUR FACEBOOK APP ID&gt;</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>&lt;YOUR GOOGLE REVERSE CLIENT ID&gt;</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>&lt;YOUR FACEBOOK APP ID&gt;</string>
	<key>FacebookDisplayName</key>
	<string>&lt;YOUR FACEBOOK APP DISPLAY NAME&gt;</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
